.page {
  display: flex;
  flex-wrap: wrap;
}
.header {
  padding-left: 25px;
  background-color: blue;
  color: white;
  width: 100%;
}

.undersection {
  border: 3px solid black;
}

.footer {
  margin-top: 3%;
      padding-left: 25px;
      background-color: blue;
      color: white;
      width: 100%;
}

@media only screen and (max-width: 600px) {
  .undersection {
    margin-top: 10px;
    display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
     
  }

@media only screen and (min-width: 601px) {
  
  .undersection {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
    width: 45%;
    font-size: 50px;
  }
}